.login-flex{
    background: #94C3EB;
    display: flex;
    flex-direction: column;
}

.login-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    
}
.color-dropdown{
    margin: auto;
    text-align: center;
}
.bbbb-title{
    margin: auto;
    text-align: center;
}
.play{
    margin: auto;

}
