.login-flex{
    background: #94C3EB;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.login-form{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 20%;
    
}
.ant-layout-footer{
    position: fixed;
    bottom: 0px;
    left:0px;
    right:0px;
}

.ant-layout-content{
    position: fixed;
    bottom: 8%;
    height: 84%;
    left:0px;
    right:0px;
} 

.color-dropdown{
    margin: auto;
    text-align: center;
}
.bbbb-title{
    margin: auto;
    text-align: center;
}
.play{
    margin: auto;

}
