.login-flex{
    background: grey;
    display: flex;
    flex-direction: column;
}

.login-form{
    margin: auto;
    width: 20%;
    
}
.bbbb-title{
    margin: auto;
    text-align: center;
}
.play{
    margin: auto;
}
